.elementor-element {
    flex-direction: initial;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    gap: initial;
    flex-basis: initial;
    flex-grow: initial;
    flex-shrink: initial;
    order: initial;
    align-self: initial;
}

.elementor-section {
    position: relative;
}

.elementor-element {
    --widgets-spacing: 0px 0px;
}

.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}

@media (max-width: 1279px) {
    .elementor-section .elementor-container {
        flex-wrap: wrap;
    }
}

.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 768px) {
    .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
        width: 100%;
    }
}

.elementor-element {
    --widgets-spacing: 0px 0px;
}

.elementor-widget-wrap {
    width: 100%;
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.elementor-column-gap-extended>.elementor-column>.elementor-element-populated {
    padding: calc(30px / 2);
}

.elementor-container>.elementor-column>.elementor-element-populated {
    padding-top: 0;
    padding-bottom: 0;
}

.elementor-column-gap-extended>.elementor-column>.elementor-element-populated {
    padding: 15px;
}

.elementor-element .elementor-widget-container {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform .2s, .4s;
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

aside, details, footer, header, hgroup, nav, section {
    display: block;
}

.wp-block-themepunch-revslider {
    position: relative;
}

rs-fullwidth-wrap {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    overflow: visible;
    max-width: none !important;
}

.wp-block-themepunch-revslider {
    position: relative;
}

#rev_slider_19_1_forcefullwidth {
    margin-top: 0px;
    margin-bottom: 0px;
}