@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --color: hsl(240 10% 3.9%);
}

h1,
span,
header,
footer,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-montserrat, sans-serif;
}

p,
a,
li,
button,
textarea,
button,
  /*input,*/
  /*select,*/
option,
nav,
section,
  /*div,*/
aside {
  font-family: font-geist, sans-serif !important;
  font-weight: 300;
}

input,
select {
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
input:-webkit-autofill {
  transition: background-color 5000s;
}
input:is(:-webkit-autofill, :autofill) {
  background: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.MuiPaper-root {
  position: absolute !important;
  margin: 0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes heroDashAnimation {
  from {
    transform: translateX(-100%) translateY(0);
  }
  to {
    transform: translateX(0) translateY(0);
  }
}

@keyframes whiteBgFilledButtonHover {
  from {
    color: theme("colors.primary");
    background-color: theme("colors.lightGrey");
    /*box-shadow: inset 0 0 0 0.01px theme('colors.primary');*/
  }
  to {
    box-shadow: inset 14.5em 0 0 0.01px theme("colors.primary");
    color: theme("colors.textColor");
    /*background-color: theme('colors.primary');*/
  }
}

@keyframes primaryBgFilledButtonHover {
  from {
    color: theme("colors.textColor");
    background-color: theme("colors.primary");
    /*box-shadow: inset 0 0 0 0.01px theme('colors.primary');*/
  }
  to {
    box-shadow: inset 14.5em 0 0 0.01px theme("colors.textColor");
    color: theme("colors.primary");
    /*background-color: theme('colors.primary');*/
  }
}

@keyframes whiteBgFilledButtonLeave {
  from {
    box-shadow: inset -14em 0 0 0.01px theme("colors.primary");
    color: theme("colors.textColor");
    /*background-color: theme('colors.textColor');*/
  }
  to {
    box-shadow: inset 0 0 0 0.01px theme("colors.lightGrey");
    color: theme("colors.primary");
    /*background-color: theme('colors.primary');*/
  }
}

@keyframes primaryBgFilledButtonLeave {
  from {
    box-shadow: inset -14em 0 0 0.01px theme("colors.textColor");
    color: theme("colors.primary");
    /*background-color: theme('colors.textColor');*/
  }
  to {
    box-shadow: inset 0 0 0 0.01px theme("colors.primary");
    color: theme("colors.textColor");
    /*background-color: theme('colors.primary');*/
  }
}

/* Animation Classes */
.white-bg-animation-hover:hover {
  animation: whiteBgFilledButtonHover 0.3s forwards;
}

.white-bg-animation-leave {
  animation: whiteBgFilledButtonLeave 0.3s forwards;
}

.primary-bg-animation-hover:hover {
  animation: primaryBgFilledButtonHover 0.3s forwards;
}

.primary-bg-animation-leave {
  animation: primaryBgFilledButtonLeave 0.3s forwards;
}
