@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --color: hsl(240 10% 3.9%);
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
select,
option,
nav,
section,
header,
footer,
aside {
  font-family: font-montserrat, sans-serif;
}

p, a, button {
  font-family: font-geist, sans-serif !important;
}

input,
select {
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
input:-webkit-autofill {
  transition: background-color 5000s;
}
input:is(:-webkit-autofill, :autofill) {
  background: none;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
